:root {
  --font-outfit: 'Outfit', serif;
  --font-shadows_two: 'Shadows Into Light Two', serif;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-outfit) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.HeroBanner{
  background-image: url(../images/hero.png);
}
.freshNaturalBg{
  background-image: url('../images/Rectangle\ \(1\).png');
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
